nodered/Simple_Motion_Detector_that_Beeps.txt
[{"id":"aaef0890.4f0d68","type":"mqtt out","z":"a53fdca.24b622","name":"Beep Tone","topic":"multimedia/speaker/tone/beep-07","qos":"2","retain":"","broker":"2ff544d1.8c113c","x":792,"y":630.888916015625,"wires":[]},{"id":"e2cefc8c.b1115","type":"mqtt in","z":"a53fdca.24b622","name":"Motion Detector","topic":"bean/pir","qos":"2","broker":"2ff544d1.8c113c","x":364,"y":633.888916015625,"wires":[["24f89cfb.b358f4"]]},{"id":"24f89cfb.b358f4","type":"switch","z":"a53fdca.24b622","name":"Motion Detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":590,"y":633.888916015625,"wires":[["aaef0890.4f0d68"]]},{"id":"2ff544d1.8c113c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
