nodered/Smart_Object_that_Sings_when_Hot.txt
[{"id":"aebe9c2f.5ad18","type":"mqtt out","z":"a53fdca.24b622","name":"Bird Chirp","topic":"multimedia/speaker/tone/bird_chirp","qos":"2","retain":"","broker":"2ff544d1.8c113c","x":1023.8958587646484,"y":316.8888854980469,"wires":[]},{"id":"eeda1ea1.14122","type":"mqtt in","z":"a53fdca.24b622","name":"Motion Detector","topic":"bean/pir","qos":"2","broker":"2ff544d1.8c113c","x":211.89581298828125,"y":184.88888549804688,"wires":[["a4c055b9.d3d198"]]},{"id":"b0a5dedd.08be8","type":"mqtt in","z":"a53fdca.24b622","name":"Thermometer","topic":"bean/object_temp","qos":"2","broker":"2ff544d1.8c113c","x":236.89581298828125,"y":312.8888854980469,"wires":[["a4c055b9.d3d198"]]},{"id":"a4c055b9.d3d198","type":"function","z":"a53fdca.24b622","name":"Sing a song when someone is here and temperature is above 25","func":"if(msg.topic == \"bean/pir\") {\n    var d = new Date()\n    global.set(\"motion\", msg.payload);\n    global.set(\"last_motion_timestamp\", d.getTime())\n}\nelse if(msg.topic == \"bean/object_temp\") {\n    motion = global.get(\"motion\");\n    last_motion_timestamp = global.get(\"last_motion_timestamp\")\n    var d = new Date()\n    last_motion_elapsed = d.getTime() - last_motion_timestamp\n    msg.debug = last_motion_elapsed\n    \n    if(motion == '1' &&  last_motion_elapsed <= 9000 && parseInt(msg.payload) >= 25){\n        msg.payload = 'Temperature above 25.'\n        return msg\n    }\n}\n","outputs":1,"noerr":0,"x":625.8367919921875,"y":235.81597900390625,"wires":[["aebe9c2f.5ad18","672cb490.0ac5bc","95218e6a.8f09f"]]},{"id":"672cb490.0ac5bc","type":"debug","z":"a53fdca.24b622","name":"","active":true,"console":"false","complete":"true","x":1015.8472747802734,"y":245.3333740234375,"wires":[]},{"id":"95218e6a.8f09f","type":"mqtt out","z":"a53fdca.24b622","name":"Mini Screen","topic":"bean/eink","qos":"2","retain":"","broker":"2ff544d1.8c113c","x":1019.7916717529297,"y":180.888916015625,"wires":[]},{"id":"308c1a7e.e4b876","type":"comment","z":"a53fdca.24b622","name":"Smart Object that Sings when Hot","info":"","x":274.8333282470703,"y":119.642333984375,"wires":[]},{"id":"2ff544d1.8c113c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
