nodered/Thermometer_that_Sings.txt
[{"id":"dca2f028.46e7e","type":"mqtt out","z":"a53fdca.24b622","name":"Bird Chirp","topic":"multimedia/speaker/tone/bird_chirp","qos":"2","retain":"","broker":"2ff544d1.8c113c","x":839,"y":759.888916015625,"wires":[]},{"id":"d31a210.7d6a3e","type":"mqtt in","z":"a53fdca.24b622","name":"Thermometer","topic":"bean/object_temp","qos":"2","broker":"2ff544d1.8c113c","x":362.99998474121094,"y":760.8889465332031,"wires":[[]]},{"id":"d03c1472.46bde8","type":"switch","z":"a53fdca.24b622","name":"Greater than 25 Celcius","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"str"}],"checkall":"true","outputs":1,"x":620,"y":759.888916015625,"wires":[["dca2f028.46e7e"]]},{"id":"2ff544d1.8c113c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
