nodered/Voice_
[{"id":"839b94f7.4f3f48","type":"mqtt in","z":"e52daeb9.c7d1f","name":"Button","topic":"bean/button","qos":"2","broker":"2ff544d1.8c113c","x":270,"y":277,"wires":[["25f37eda.bcb482"]]},{"id":"c26e7008.8a4e3","type":"mqtt out","z":"e52daeb9.c7d1f","name":"Microphone","topic":"multimedia/microphone","qos":"2","retain":"","broker":"2ff544d1.8c113c","x":535,"y":176,"wires":[]},{"id":"25f37eda.bcb482","type":"mqtt out","z":"e52daeb9.c7d1f","name":"Speaker","topic":"multimedia/speaker/playback","qos":"2","retain":"","broker":"2ff544d1.8c113c","x":526,"y":240,"wires":[]},{"id":"c5989328.5aacc","type":"inject","z":"e52daeb9.c7d1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288,"y":155,"wires":[["c26e7008.8a4e3"]]},{"id":"f315e4f6.0d3278","type":"inject","z":"e52daeb9.c7d1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288,"y":221,"wires":[["25f37eda.bcb482"]]},{"id":"2ff544d1.8c113c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
